<!doctype html>
<html lang="gbk">
<head>
	<meta charset="utf-8" />
	<title>iAv.me</title>
	<link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<div id="wrapper"><!-- #wrapper -->

	<header><!-- header -->
		<h1><a href="http://iav.me">iAv.me</a></h1>
		<h2>一个神奇的网站</h2>
	</header><!-- end of header -->
	
	<nav><!-- top nav -->
		<div class="menu">
			<ul>
				<li><a href="http://iav.me">煮叶</a></li>
				<li><a href="about.htm">关于iav</a></li>
				<li><a href="blog.htm">文章列表</a></li>
				<li><a href="eat.htm">吃&喝</a></li>
				<li><a href="tv.htm">美剧</a></li>
				<li><a href="human.htm">人类学</a></li>
				<li><a href="human.htm">法语</a></li>
				<li><a href="human.htm">各种玩的</a></li>
				<li><a href="human.htm">IT神马的</a></li>
			</ul>
		</div>
	</nav><!-- end of top nav -->
	
	<section id="main"><!-- #main content and sidebar area -->
	
		<aside id="sidebar1"><!-- sidebar1 -->
				<h3>个人关键词</h3>
					<ul>
						<a herf=""><li>键盘控，装B控</li>
						<li>西瓜，火锅</li>
						<li>超级懒人</li>
						<li>喝红酒</li>
						<li>白日梦</li>
						<li>技术差，脾气大</li></a>
					</ul>
					
				<h3>广告地带</h3>
					<img src="/images/ad125.jpg" alt="" /><br /><img src="/images/ad125.jpg" alt="" /><br /><br />

				<h3>文章分类</h3>
					<ul>
					{% for category in site.categories %}
					<li><a href="/{{category | first}}.html">{{category | first}} ({{category | last | size }})</a></li>
					{% endfor %}
						
					
					</ul>

				<h3>找到我的方法</h3>
					<ul>
						<li><a href="mailto:hq1984@gmail.com">Email</a></li>
					
					</ul>

		</aside><!-- end of sidebar1 -->
	
			<section id="content"><!-- #content -->
			
        	 {{ content }}
						
			</section><!-- end of #content -->

		<aside id="sidebar2"><!-- sidebar2 -->
	
					<ul>
      <!-- Feedsky FEED发布代码开始 -->
      <!-- FEED自动发现标记开始 -->
      <link title="RSS 2.0" type="application/rss+xml" href="http://feed.feedsky.com/saberma" rel="alternate" />
      <!-- FEED自动发现标记结束 -->
      <a href="http://feed.feedsky.com/saberma"><img border="0" src="http://img.feedsky.com/images/icon_sub_c1s17_d.gif" alt="feedsky" vspace="2"  style="margin-bottom:3px" ></a><br />
      <a href="http://www.zhuaxia.com/add_channel.php?url=http://feed.feedsky.com/saberma"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_zhuaxia.gif" alt="&#25235;&#34430;" vspace="2" style="margin-bottom:3px" ></a><br />
      <a href="http://www.rojo.com/add-subscription?resource=http://feed.feedsky.com/saberma"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_rojo.gif" alt="Rojo" vspace="2" style="margin-bottom:3px" ></a><br />
      <a href="http://fusion.google.com/add?feedurl=http://feed.feedsky.com/saberma"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_google.gif" alt="google reader" vspace="2" style="margin-bottom:3px" ></a><br />
      <a href="http://add.my.yahoo.com/rss?url=http://feed.feedsky.com/saberma"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_yahoo.gif" alt="my yahoo" vspace="2" style="margin-bottom:3px" ></a><br />
      <a href="http://www.xianguo.com/subscribe.php?url=http://feed.feedsky.com/saberma"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_xianguo.gif" alt="&#40092;&#26524;" vspace="2" style="margin-bottom:3px" ></a><br />
      <a href="http://9.douban.com/reader/subscribe?url=http://feed.feedsky.com/saberma"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_douban.gif" alt="&#20061;&#28857;" vspace="2" style="margin-bottom:3px" ></a><br />
      <!-- Feedsky FEED发布代码结束 -->
					</ul>

				<h3>广告地带</h3>
					<ul>
					<img src="images/ad125.jpg" alt="" /><br /><img src="images/ad125.jpg" alt="" /><br /><br />
					</ul>


				<h3>Did You Know?</h3>
					<ul>
						<li><a href="#">Curabitur sodales</a></li>
						<li><a href="#">Sed dignissim</a></li>
						<li><a href="#">Fusce nec</a></li>
						<li><a href="#">Nulla quis</a></li>
						<li><a href="#">Curabitur sodales</a></li>
						<li><a href="#">Sed dignissim</a></li>
						<li><a href="#">Fusce nec</a></li>
						<li><a href="#">Nulla quis</a></li>
					</ul>



		</aside><!-- end of sidebar -->

	</section><!-- end of #main content and sidebar-->
	
		<footer>
		<section id="footer-area">

			<section id="footer-outer-block">
					<aside class="footer-segment">
							<h4>好盆友们</h4>
								<ul>
									<li><a href="http://blog.gxceo.com/">残耳</a></li>
									<li><a href="#">空闲中</a></li>
									<li><a href="#">空闲中</a></li>
								</ul>
					</aside><!-- end of #first footer segment -->

					<aside class="footer-segment">
							<h4>经常出没的地方</h4>
								<ul>
									<li><a href="http://www.v2ex.com">v2ex</a></li>
									<li><a href="http://www.ipc.me">iPc.me</a></li>
									<li><a href="http://bbs.sfile2012.com/index.php">伊甸园</a></li>
								</ul>
					</aside><!-- end of #second footer segment -->

					<aside class="footer-segment">
							<h4>空闲的链接</h4>
								<ul>
									<li><a href="#">空闲的链接</a></li>
									<li><a href="#">空闲的链接</a></li>
									<li><a href="#">空闲的链接</a></li>
								</ul>
					</aside><!-- end of #third footer segment -->
					
					<aside class="footer-segment">
							<h4>版权声明</h4>
								<p>&copy; 2012 <a href="http://iav.me">iAv.me</a> 是本人基于jekyll搞出来的，任何人未经许可擅自推倒，将承受爆菊之刑且后果自负.</p>
					</aside><!-- end of #fourth footer segment -->

			</section><!-- end of footer-outer-block -->

		</section><!-- end of footer-area -->
	</footer>
	
</div><!-- #wrapper -->
<!-- Free template created by http://freehtml5templates.com -->
</body>
</html>
